<h1 class="bg-gradient-to-r from-teal-400 to-teal-600 bg-clip-text text-transparent text-center text-5xl font-semibold">
    About Me
</h1>
<div class="flex flex-col lg:flex-row items-center justify-center gap-8 p-5 text-center">
    <div class="lg:w-1/3">
        <div class="rounded-xl overflow-hidden shadow-lg">
            <img src="https://res.cloudinary.com/dskvnym6t/image/upload/v1730313358/FotoLaureaCurriculum.png"
                alt="Marco Morandin" class="w-full object-cover">
        </div>
    </div>

    <div class="lg:w-2/3">
        <div class="prose prose-sm text-justify max-w-none">
            <p>I am a student at the University of Trento, currently pursuing a degree in Artificial Intelligence Systems. My academic journey began with a bachelor’s degree in Software Engineering, where I developed a strong foundation in software development, system design, and problem-solving. My passion for technology and its potential to drive innovation led me to specialize in artificial intelligence, a field that fascinates me with its ability to transform industries and solve complex problems.</p>
            <p>Beyond academics, I have a variety of interests that shape who I am. I am an avid hiker, always eager to explore new trails and challenge myself in nature. Hiking not only fuels my love for adventure but also provides me with a sense of clarity and resilience. Another passion of mine is origami making, which allows me to express creativity through intricate designs and precise craftsmanship. Cooking is also something I deeply enjoy—it’s a way for me to experiment, learn, and share moments with others.</p>
            <p>Collaboration is something I value highly. I am comfortable working in teams, as I believe that the best ideas and solutions often come from collective effort and diverse perspectives. Whether in academic projects, or personal initiatives, I enjoy contributing to a shared goal, learning from others, and taking on challenges together.</p>
        </div>        
    </div>
</div>