  <h1 class="bg-gradient-to-r from-teal-400 to-teal-600 bg-clip-text text-transparent text-center text-5xl font-semibold">
    Education
  </h1>
  <div class="flex flex-wrap gap-0 md:flex-nowrap md:gap-10">
    <div class="flex-1">
      <h2
        class="bg-gradient-to-r from-teal-400 to-teal-600 bg-clip-text text-transparent text-center text-4xl font-light mb-10"
      >
        Study Path
      </h2>
      {{ range (where .Site.RegularPages "Section" "educations") }}
        {{ partial "education-card.html" .Params }}
      {{ end }}
    </div>
    <div class="flex-1">
      <h2
        class="bg-gradient-to-r from-teal-400 to-teal-600 bg-clip-text text-transparent text-center text-4xl font-light mb-10"
      >
        Certifications
      </h2>
      {{ range (where .Site.RegularPages "Section" "certifications") }}
        {{ partial "education-card.html" .Params }}
      {{ end }}
    </div>
  </div>