<div class="relative space-y-1 border-l-2 border-gray-200 p-8 text-left">
    <h3 class="text-xl font-semibold md:text-2xl">{{ .Params.title }}</h3>
    <div class="flex gap-8">
      <p class="font-light text-lg text-gray-600">{{ .Params.company }}</p>
      <p class="font-light text-lg text-gray-600">{{ .Params.year }}</p>
  </div>
    <div class="prose prose-p:text-gray-500 prose-p:text-justify">
      {{ .Content }}
    </div>
    <span class="absolute -left-[11px] top-10 h-5 w-5 rounded-full bg-teal-500"></span>
</div>